body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.error-page .card {
  background: #dedede;
  width: 100%;
  padding: 2em 8em;
  margin: 4em auto;
  box-shadow: 4px 4px 0.25rem rgba(0, 0, 0, 0.075);
  position: relative;
}

.error-page .card:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#92fe9d),
    to(#00c9ff)
  );
}

.error-page h1 {
  font-family: "Abel";
  font-size: 72px;
}

.error-page .error-message {
  font-family: "Abel", sans-serif;
  font-size: 28px;
}

.error-page .status-code {
  font-size: 256px;
}

.error-page svg:before {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#92fe9d),
    to(#00c9ff)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
