:root {
  --primary-color: #393e46;
  --secondary-color: #d65a31;
  --text-color: #eeeeee;
  --accent-color: #222831;
  --third-color: #0b132b;
}

nav.navbar {
  width: 100vw;
}

nav.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav.navbar li {
  list-style-type: none;
}

nav.navbar a {
  text-decoration: none;
}

.page {
  background: var(--primary-color);
}

.main {
}

.game-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0px;
  row-gap: 0px;
  margin: 0 auto;
  font-family: 'Raleway', 'sans-serif';
  color: var(--text-color);
}

.image {
  height: 200px;
  position: relative;
  border-left: 1px solid var(--third-color);
}

.game.expanded {
  /* grid-row: span 1 / span 4; */
  grid-column: 1 / -1;
}

.game:hover .info {
  display: flex;
  animation: fadeInUp;
  animation-duration: 0.5s;
}

.label {
  font-size: 11px;
  margin-right: 5px;
  background-color: var(--third-color);
  padding: 2px 4px;
  display: inline-block;
  font-family: Lato;
}

.cell.name {
  width: 100%;
}

.info {
  position: absolute;
  bottom: 0;
  z-index: 3;
  background: var(--accent-color);
  width: 100%;
  border-right: 1px solid var(--third-color);
  border-top: 1px solid var(--third-color);
  padding: 5px;
  height: 75px;
  font-size: 12px;
  display: none;
  flex-direction: column;
  font-family: Lato;
}

.image img {
  z-index: 2;
}

.game {
  /* width: 100%;
  display: flex;
  margin: 0.5em;
  flex-wrap: wrap; */
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  /* width: 450px; */
}

.title {
  font-family: 'Lato';
  font-weight: normal;
  margin: 0;
}

.footer {
  font-size: 0.6em;
  position: absolute;
  bottom: 1em;
  width: 100%;
  line-height: 14px;
}

.genre {
  padding: 0 3px;
  border: 1px solid var(--accent-color);
  margin: 2px;
  text-transform: uppercase;
  font-family: 'Lato';
  display: inline-block;
}

.developers {
  font-size: 0.9em;
}

.next {
  flex-basis: 800px;
  text-align: center;
  background: var(--secondary-color);
  padding: 2px 0;
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  color: var(--text-color);
  font-size: 0.9em;
  font-family: 'Lato';
  text-transform: uppercase;
}

.next a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  width: 100%;
}

.next:hover {
  background: var(--third-color);
}
