:root {
}

.badge {
  height: 30px;
  background: var(--primary-color);
  width: 200px;
  text-align: center;
  padding-right: 47px;
  font-size: 12px;
  line-height: 35px;
  font-family: sans-serif;
  color: var(--text-color);
  transform: rotate(-45deg);
  position: absolute;
  top: -20px;
  left: -72px;
  box-shadow: inset 0px 0px 0px 4px rgba(255, 255, 255, 0.34);
}
