body {
  background: #c9ccd3;
  background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-blend-mode: lighten;
}

.header {
  display: flex;
  width: 100%;
  padding: 1em;
  text-align: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  height: 500px;
  align-items: center;
  justify-content: center;
}

.quote {
  font-size: 72px;
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Abel, sans-serif;
  font-weight: bold;
}

.line {
  width: 100px;
  height: 1px;
  background: #fff;
  margin: auto;
  margin-bottom: 12px;
  margin-top: 18px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #fff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  padding-top: 50px;
}

.random-quote-container {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
}

.random-quote-btn {
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  color: #333;
  width: 75%;
  margin-top: 10px;
}

.random-quote-btn:hover {
  color: #333;
  text-decoration: underline;
}

.blockquote {
  display: flex;
  width: 30%;
  padding: 2em;
  margin: 1em;
  border: 1px solid #dedede;
  position: relative;
  align-items: center;
  box-shadow: 4px 4px 0.25rem rgba(0, 0, 0, 0.075);
}

.blockquote:hover {
  animation-name: bounce;
}

.start-quote {
  font-size: 3.5rem;
  position: absolute;
  top: 5%;
  left: 7%;
  color: #dedede;
}

.actual-quote {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
}

.created-at {
  position: absolute;
  bottom: 32px;
  left: 8px;
  font-family: "Josefin Sans", sans-serif;
}

.view-quote {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  line-height: 32px;
  padding: 0 0.5em;
  text-align: right;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
}

a {
  color: white;
}

.quote-canvas-container {
  overflow: hidden;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.toolbar {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.toolbar-btn {
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  color: #333;
}

.toolbar-btn.right {
  margin-left: auto;
}

.toolbar-btn:hover {
  color: #333;
  text-decoration: underline;
}

.copy span {
  font-family: Roboto, sans-serif;
}

button.button i {
  margin-right: 5px;
}

button.button svg {
  margin-right: 5px;
}

.view-quote svg {
  margin-left: 10px;
  line-height: 32px;
  top: 2px;
  position: relative;
}

.placeholder {
  font-family: "IM Fell Great Primer SC";
  visibility: hidden;
  position: absolute;
  top: -20px;
}

@media (max-width: 80rem) {
  .blockquote {
    width: 100%;
  }
}
