.root {
  height: 100%;
  width: 100%;
  background: #07558b;
  color: #fdfcfb;
  margin: 0;
}

.container {
    margin: 0;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.container>div>div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.text {
    /* pointer-events: none; */
    color: #fdfcfb;
    transition: opacity 1s;
}

.number {
    font-size: 72px;
}

.slopeBegin {
    background-color: #082f46;
    clip-path: polygon(10% 0, 70% 0, 30% 100%, 0% 100%);
}

.slopeEnd {
    clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
}

.slopeBegin,
.slopeEnd {
    position: absolute;
    width: 170%;
    height: 100%;
    cursor: pointer;
}

.gradient1 {
    background: linear-gradient(to right, #edf1ee 0%, #2e6768 100%);
}

.gradient2 {
    background: linear-gradient(to right, #fcfdfe 0%, #5cadf8 100%);
}

.gradient3 {
    background: linear-gradient(to right, #8dacb0 0%, #505e5b 100%);
}

.gradient4 {
    background: linear-gradient(to right, #f9f5f7 0%, #6f87a2 100%);
}

.textContainer {
    padding: 2em;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.small {
    font-size: 32px;
    color: #dedede;
}

.smaller {
    font-size: 18px;
    color: #dedede;
}

.button {
    padding: 0.5em;
    background: gray;
    margin: 1em;
    font-size: 24px;
    cursor: pointer;
    z-index: 99999;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    font-family: Unbounded;
    font-size: 54px;
}

.title {
    font-family: Abel;
    margin: 0;
    font-size: 120px;
}

.subtitle {
    font-family: Unbounded;
    font-size: 32px;
    margin: 10px 0;
}

.sideImage {
    display: flex;
    margin-left: auto;
}

.section {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 24px;
}

.users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.currentUser {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 24px;
}
